.gradient-custom {
   
    background: linear-gradient(to right,  rgba(248, 179, 82, 0.9), rgba(250, 70, 70, 0.9));
  }
 .vr{
  margin-left: 50%;
  margin-bottom:3%;
  
 }

 @media (max-width: 375px) { 
  #logo{
    height: 15vh;
    padding-left: 90%;
    padding-top: 10%;

  }
  .search{
    padding-right:1%;
  }
  
  #hide{
    display: none;
  }
  .navbar{
    height: 10%;
  }
  #bodys{
    display: grid;
  }
 #cards,#cardb{
    display: grid;
  }
  }


